/*Header*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

#header-img-div {
    height: 250px;
    overflow: hidden;

}

#header-img {
    width: 100%;
}

#all-ice-creams-img {
    border-radius: 50%;
}

/*Footer*/

footer {
    height: 5em;
}